body {
  margin-top: 20px;
}

rect {
  stroke: #CCC;
  stroke-width: 1px;
  fill: #FFF;
  shape-rendering: crispEdges;
}

rect.blocked {
  fill: #888;
}

rect.dest {
  fill: #F88;
}

rect.start {
  fill: #8F8;
}

#paths line {
  stroke: blue;
  stroke-width: 2px;
  stroke-linecap: round;
}

#arrowhead {
  fill: blue;
}

