body {
  margin-top: 20px;
}

rect {
  stroke: #CCC;
  stroke-width: 1px;
  fill: #FFF;
  shape-rendering: crispEdges;
}

rect.blocked {
  fill: #888;
}

rect.dest {
  fill: #F88;
}

rect.start {
  fill: #8F8;
}

rect.current {
  fill: #FF8;
  stroke: #FF8;
}

rect.open {
  fill: #BBF;
}

rect.closed {
  fill: #BBC;
}

#paths line {
  stroke: rgba(64,64,255,0.5);
  stroke-width: 2px;
  stroke-linecap: round;
}

#arrowhead {
  fill: rgba(64,64,255,0.5);
}

.progress .bar {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}
